# Python cache
__pycache__/

# macOS system files
.DS_Store
src/.DS_Store

# Virtual environments
.venv/
venv/
venv_wasp/
myenv/

# Video files
**/*.mp4

# Local data/calibration/Figures files
src/data/
data/
zipline_calib/
src/zipline_calib/
src/camera_calib/
Figures/