# Python cache
src/__pycache__/

# macOS system files
.DS_Store
src/.DS_Store

# Virtual environments
.venv/
venv/
venv_wasp/

# Video files
**/*.mp4

# Local data/calibration/Figures files
src/data/
src/zipline_calib/
src/camera_calib/
Figures/