# External Libraries

# General
numpy==1.24.3
opencv-python==4.11.0.86
python-csv==0.0.10
multiprocess==0.70.17
matplotlib==3.10.1
simple_pid==1.0.1
pathlib==1.0.1

# Camera
wheel==0.45.1
picamera2==0.3.25
rpi-kms==0.1a1

# Motor
simple-pid==1.0.1
odrive==0.6.9.post0

# GPIO
RPi.GPIO==0.7.1
pigpio==1.78
gpiozero==2.0.1
rpi-lgpio==0.6

# LEDs
adafruit-circuitpython-neopixel==6.3.15
Adafruit-Blinka==8.55.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
rpi_ws281x==5.0.0

# RF
spidev==3.6
wiringpi==2.60.1
