# External Libraries

# General
numpy==1.24.3
# pandas==2.1.1
# opencv-python==4.8.0.76

# Camera
# picamera2==0.3.24
# libcamera==0.0.5

# Motor
simple-pid==1.0.1
odrive==0.6.9.post0

# GPIO
RPi.GPIO==0.7.1
pigpio==1.78
gpiozero==2.0.1
rpi-lgpio==0.6

# LEDs
adafruit-circuitpython-neopixel==6.3.15
Adafruit-Blinka==8.55.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
rpi_ws281x==5.0.0

# RF
spidev==3.6


# smbus2==0.4.2
